/*201701310918L   EL MARTES   GIRO
SETFOCUS TO THE FIRST FIELD SO I DONT HAVE TO CLICK IN IT
 $("#playerOnesWord").focus(function(){ $("span").css("display", "inline").fadeOut(2000); });*/

@import url(http://fonts.googleapis.com/css?family=Monoton);

h1 { font-family:Monoton; font-size:48px; text-align:center; }
h2 { font-family:Monoton; font-size:24px; text-align:center; color:rgba(255,0,0,.5) }
h3 { font-family:Monoton; font-size:12px; text-align:center; color:rgba(255,0,0,.5) }

.controls { text-align:center; }
.warning  { text-align:center; color:rgba(0,0,255,.5) }
.thisGuess  { text-align:center; color:white; background-color:white; width:11px;}
/*.theWord  { text-align:center; color:white; background-color:white; width:11px;}*/
/*.thisGuess  { text-align:center; color:rgba(0,255,0,1);width:11px; } */
#theWord {display: flex; justify-content: space-around; margin:auto; width:50%}
#thisGuess {display: flex; justify-content: space-around;}
section     { display:flex; justify-content:space-around;  }
section div {border-bottom:solid black 2px; }   /* THIS PUTS THE UNDERLINE, BORDER-BOTTOM, UNDER EACH LETTER BOX */
